html {
  background-color: #251b37;
}

.App {
  text-align: center;
  background-color: #251b37;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: #251b37;
}

.content-wrap {
  padding-bottom: 2.5rem;
}
